<div>
<header  class="header">

        <nav [ngClass]="'parent-menu'">
                <ul>
                    <li>
                            <a routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                            <a routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                    <li>
                            <a routerLink="/contact" routerLinkActive="active">Contact</a>
                    </li>
                </ul>
            </nav>

            
</header>
</div>

<router-outlet></router-outlet>

<footer id="footer">
    <div>
        <ul class="icons">
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-envelope"></a></li>
        </ul>
    </div>
    <p class="copyright">© Untitled. All rights reserved.</p>
</footer>
