

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .inner{
        width: 100% !important;
    }
    .sdf{
        
        flex-direction: column;
    }
}



