<div class="outerhome">
        <img src="../../assets/pic04.jpg" alt="">
    <div class="innerdata">
        <div>
            <h1>Pixel XL 2</h1>
            <p>Best Smartphone
            </p>
            <button class="btn-cmn">Get More Info</button>
        </div>
    </div>

</div>

<section class="news" *ngFor="let i of [1,2,3]">
    <div class="home-list">
        <div class="inerdiv">
            <h1> SED CONSEQUAT
            </h1>
            <p>psum efficitur nisi ac turpis venenatis varius. Suspendisse sed dictum leo ipsum amet pellentesque fusce
                ac hendrerit consectetur tempor risus, sed eget semper nunc. eleifend facilisis nisi vitae lorem ipsum
                dolor consequat lorem ipsum etiam.</p>
        </div>
        <div>
            <img src="../../assets/pic04.jpg" alt="" class="alnitm">
        </div>
    </div>
</section>
<section class="fourdiv">
    <div class="home-header">
        <header class="home-header-class">
            <h2 class="home-header-heading">dfdcvd</h2>
        </header>
        <div class="home-header-wrap">
            <section class="home-header-wrap-list" *ngFor="let j of [1,2,3,4]">
                <span class="icon major fa fa-diamond style1"></span>
                <h3>sdcdscd</h3>
                <p>dcvsdcds</p>
            </section>
        </div>
    </div>
</section>

<section class="home-bottom">
    <div>
        <p>
            Sed varius suspendisse dictum leo ipsum amet pellentesque
            fusce ac hendrerit consectetur tempor lorem ipsum.
        </p>
        <ul class="home-bottom-buttons">

            <li>
                <a href="">ukujbj</a>
            </li>
            <li>
                <a href="">hjbhbjk</a>
            </li>
        </ul>
    </div>
</section>
